section.calendar {
  padding: 50px 25px;
  opacity:0;
  animation: fade-in 0.5s ease-in forwards;
  p {
    &.month {
      font-size: .75em;
    }
    &.day {
      font-size: 1.5em;
    }
    &.year {
      font-size: .75em;
    }
  }
}

section.time {
  padding: 50px 0px;
  #time-stamp {
    font-size: .75em;
  }
}